<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <title>Glas - <%= title %></title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body onload="init('<%= posturl %>')">
     <%- include('../partials/menu'); %>
        <article>
          <a href = "/">Back to home</a>
          <h1><%= title %></h1>
          <p><%= content %></p>
        </article>
      <%- include('../partials/footer'); %>
      <script src="../js/main.js"></script>
</body>

</html>